.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 16px;
    height: 44px;
    position: relative;
    z-index: 100;
    /* width: 100vw; */
}

.nevigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

