.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 16px;
}

.nevigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

