.card{
    width: var(--notificaton_width);
    height: calc(95vh - 44px);
    background-color: white;
    border-radius: 10px;
    z-index: 250;
    position: absolute;
    margin: 48px 0px 0px calc(99vw - var(--notificaton_width) - 20px);
    z-index: -1;
    outline: 1px solid red;
}
.head{
    /* margin: 18px 0px 0px 0px; */
    padding: 15px 10px 0px 10px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.head>span:last-child{
    height: 25px;
    width: 25px;
    outline: 1 px solid red;
    background-color: red;
    font-weight: normal;
}
/*
.suggesion{
    height: 9%;
    width: 96%;
    margin: 2%;
    /* padding: ; */
    /*background-color: red;
}

.suggesion:hover{
    background-color: black;
} */